In [1]:
import sklearn

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"C:\Users\akhil\OneDrive\Desktop\Machine_learning\knn\diabetes.csv")

In [4]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [8]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [10]:
zero_value_columns=["Glucose","BloodPressure","SkinThickness","Insulin","BMI"]
for col in zero_value_columns:
    df[col]=df[col].replace(0,np.nan)
    df[col]=df[col].fillna(df[col].median())

In [11]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.656250,72.386719,29.108073,140.671875,32.455208,0.471876,33.240885,0.348958
std,3.369578,30.438286,12.096642,8.791221,86.383060,6.875177,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,25.000000,121.500000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
outlier_val_dic={}
for col in df:
    q1=df[col].quantile(0.25)
    q3=df[col].quantile(0.75)
    iqr=q3-q1
    min_ran=q1-1.5*iqr
    max_ran=q3+1.5*iqr
    outlier_val_dic[col]=(min_ran,max_ran)

In [13]:
outlier_val_dic

{'Pregnancies': (-6.5, 13.5),
 'Glucose': (39.0, 201.0),
 'BloodPressure': (40.0, 104.0),
 'SkinThickness': (14.5, 42.5),
 'Insulin': (112.875, 135.875),
 'BMI': (13.849999999999998, 50.25),
 'DiabetesPedigreeFunction': (-0.32999999999999996, 1.2),
 'Age': (-1.5, 66.5),
 'Outcome': (-1.5, 2.5)}

In [14]:
df[df['Insulin']>136]['Outcome'].value_counts()

Outcome
1    87
0    86
Name: count, dtype: int64

In [15]:
df[df['BMI']>=50.25]['Outcome'].value_counts()

Outcome
1    6
0    2
Name: count, dtype: int64

In [16]:
df=df[(df['BMI']>=outlier_val_dic['BMI'][0])&(df['BMI']<=outlier_val_dic['BMI'][1])]

In [17]:
for i in df:
    print(i,"\n-----------------")
    print(df[i].min())
    print(df[i].max())
    print()

Pregnancies
-----------------
0
17

Glucose
-----------------
44.0
199.0

BloodPressure
-----------------
24.0
122.0

SkinThickness
-----------------
7.0
99.0

Insulin
-----------------
15.0
846.0

BMI
-----------------
18.2
50.0

DiabetesPedigreeFunction
-----------------
0.078
2.329

Age
-----------------
21
81

Outcome
-----------------
0
1

In [18]:
df=df[(df['SkinThickness']>=outlier_val_dic['SkinThickness'][0])&(df['SkinThickness']<=outlier_val_dic["SkinThickness"][1])]

In [19]:
df.shape

(676, 9)

In [20]:
x=df.drop(columns=['Outcome'])
y=df['Outcome']

scalling

In [21]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler
minmax=MinMaxScaler()
x_scaled=minmax.fit_transform(x)

In [22]:
minmax.transform(x)

array([[0.35294118, 0.67532468, 0.48979592, ..., 0.49044586, 0.2438916 ,
        0.48333333],
       [0.05882353, 0.26623377, 0.42857143, ..., 0.26751592, 0.12127943,
        0.16666667],
       [0.47058824, 0.9025974 , 0.40816327, ..., 0.16242038, 0.26388272,
        0.18333333],
       ...,
       [0.29411765, 0.5       , 0.48979592, ..., 0.25477707, 0.07418925,
        0.15      ],
       [0.05882353, 0.53246753, 0.36734694, ..., 0.37898089, 0.12039094,
        0.43333333],
       [0.05882353, 0.31818182, 0.46938776, ..., 0.38853503, 0.10528654,
        0.03333333]])

In [23]:
x_scaled.max()

1.0000000000000002

train test split

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.2,random_state=1)

model training

In [25]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier()
model.fit(x_train,y_train)

KNeighborsClassifier()

In [26]:
y_pred=model.predict(x_test)


evaluation

In [27]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred)*100)

72.05882352941177

In [28]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')